@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
}


@layer base {
  body {
    overflow-x: hidden;
  }
}

@layer components {
  .header_top__icon_wrapper {
    @apply bg-gray-200 rounded-md p-[6px] text-[14px] cursor-pointer hover:bg-accent hover:text-white;
  }

  .navbar__link:hover {
    color: #ff8f9c;
    transition: all 0.4s;
  }

  .navbar__link::after {
    position: absolute;
    content: "";
    background-color: #ff8f9c;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar__link:hover::after {
    scale: 1;
  }
  /* custom-slider-dots.css */
/* Style the slider dots */
/* custom-slider-dots.css */
/* Style the slider dots */
.slick-dots {
  bottom: 20px !important; /* Adjust the position as needed */
  background: grey !important; /* Change the background color to grey */
}

/* Style the individual dot */
.slick-dots li button:before {
  font-size: 10px !important; /* Adjust the dot size as needed */
  color: grey !important; /* Change the dot color to grey */
  opacity: 1 !important; /* Ensure the dot is fully visible */
}

/* Style the active dot */
.slick-dots li.slick-active button:before {
  color: white !important; /* Change the active dot color */
}

.custom-dots li button {
  font-size: 30px; /* Adjust the font size to make the dots bigger */
}








}

